.gameClock{

    margin-top: 30px;
    margin-left: 670px;
    border-style: solid;
    border-color: orange;
    background: whitesmoke; 
    width: 20%; 
    position: fixed;
}

.btn_Start{

    margin-top: 62px;
    margin-left: 670px;
    border-style: solid;
    border-color: orange;
    background: whitesmoke; 
    width: 20%; 
    position: fixed;

}

.jumbotron{

    margin-top: 240px;
    margin-left: 100px;
    width: 60%;
    /* height: 100px; */
    height: 50px;
    position: fixed;
    visibility: hidden;

} 

.scoreBoard{

    margin-top: 520px;  
    margin-left: 100px;
    border-style: solid;
    border-color: limegreen;
    background: whitesmoke; 
    width: 10%;
    position: fixed;
    visibility: hidden;
}

.controlBoard{

    margin-top: 520px;  
    margin-left: 730px;
    border-style: solid;
    border-color: steelblue;
    background: lightblue;
    width: 20%;
    position: fixed;
    position: relative;
    float: right;   
    visibility: hidden; 

}

.btnAns{

    margin-left: 5px;
    margin-right:5px;

}

    




